{% extends 'actstream/base.html' %}
{% load url from future %}
{% load activity_tags i18n %}
{% load issues_tags %}
{% load render_table from django_tables2 %}

{% block title %}{% ifequal user actor %}Your feed{% else %}{{ actor }}{% endifequal %}{% endblock %}
{% block content_title %}{% ifequal user actor %}Your feed{% else %}{{ actor }}{% endifequal %}{% endblock %}

{% block content %}
{% get_short_table_assigned_to request.user as "assigned_to_me" %}
{% activity_stream 'user' user as='action_list' %}

    <div class="col-xs-12 col-sm-6">
        <div class="box ui-draggable ui-droppable">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-bell"></i>
                    <span>Activity stream</span>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                {% for action in action_list %}
                    {% display_action action %}
{#                    <li>{% include 'actstream/action.html' %}</li>#}
                {% empty %}
                    {% trans "No actions yet" %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="box ui-draggable ui-droppable">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-tasks"></i>
                    <span>Assigned to me</span>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                {% if assigned_to_me.queryset.count %}
                    {% render_table assigned_to_me %}
                {% else %}
                    You have no assigned tickets
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}