.box-content form:first-child {
  margin-top: -15px;
}

.main-menu {
  & > .dropdown > .dropdown-menu {
    & > li > a {
      padding-left: 40px;
    }
    & > .dropdown > .dropdown-menu {
      & > li > a {
        padding-left: 60px;
      }
      & > .dropdown > .dropdown-menu {
        & > li > a {
          padding-left: 80px;
        }
        & > .dropdown > .dropdown-menu {
          & > li > a {
            padding-left: 100px;
          }
        }
      }
    }
  }
}

.issue .description {
  p:last-child {
    margin: 10px 0 0 0;
  }
}

.accordion-toggle h4:before,
.accordion-toggle .content:before {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
  content: "\e114"; /* adjust as needed, taken from bootstrap.css */
//  #float: right; /* adjust as needed */
  margin-right: 10px;
  color: grey; /* adjust as needed */
}

.accordion-toggle.collapsed h4:before,
.accordion-toggle.collapsed .content:before{
  /* symbol for "collapsed" panels */
  content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

.workflow a {
  text-decoration: none;
}

i.fa-plus {
  cursor: pointer;
}

table td {
  vertical-align: middle !important;
}

.profile-avatar {
  margin-right: 10px;

  & > img {
    height: 65px;
    width: 65px;
  }
}

#id_status .radio {
  float:  left;
  margin-right: 10px;
}

.fa-remove {
  cursor: pointer;
}

.box-content > .form-group:first-child {
  margin-top: 0px;
}

.accordion-collapse a {
  text-decoration: none;
}

@media (min-width: 768px) {
  #search {
    margin-left: 0px;
  }
}