{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block content-header %}
   {% trans "Create new project" %}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-cog"></i>
                    <span>{% trans "Create new project" %}</span>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"> {% trans "Create" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

    <script>
        $('#id_workflow').on('click', 'ii', function (e) {
            e.preventDefault();
            window.open($(this).attr('href'), "_blank", "height=600, width=960, top=100, left=100, status=no, toolbar=no, menubar=no, location=no, addressbar=no");
        });

        $('i.fa-plus').click(function (e) {
            e.preventDefault();
            window.open("{% url 'create_empty_workflow' %}", "_blank", "height=600, width=960, top=100, left=100, status=no, toolbar=no, menubar=no, location=no, addressbar=no");
        })
        function workflow(workflow) {
            var existing = $('#id_workflow .radio input[value=' + workflow.id + ']');
            if (existing.length > 0 ) {
                existing.parent().contents()[1].textContent = workflow.value;
            } else {

                $('form').append(
                        $('<input/>')
                                .attr('type', 'hidden')
                                .attr('name', 'workflow[]')
                                .attr('value', workflow.id)
                )

                var count = $('#id_workflow .radio').length;
                $('#id_workflow')
                        .append(
                        $('<div/>')
                                .addClass('radio')
                                .append(
                                $('<label/>')
                                        .attr('for', 'id_workflow_' + count)
                                        .append(
                                        $('<input/>')
                                                .attr('id', 'id_workflow_' + count)
                                                .attr('required', 'required')
                                                .attr('type', 'radio')
                                                .attr('name', 'workflow')
                                                .attr('value', workflow.id)
                                )
                                        .append(
                                        workflow.value
                                )
                                        .append(
                                        $('<i/>')
                                                .addClass('fa fa-circle-o')
                                )
                        )
                                .append(
                                $('<span/>')
                                        .addClass('pull-right')
                                        .append(
                                        $('<ii/>')
                                                .addClass('editworkflow fa fa-edit')
                                                .css('cursor', 'pointer')
                                                .css('margin-right', '10px')
                                                .attr('href', '/workflow/' + workflow.id + '/edit/')
                                                .tooltip({title: 'Edit'})
                                )
                                        .append(
                                        $('<ii/>')
                                                .addClass('deleteworkflow fa fa-times')
                                                .css('cursor', 'pointer')
                                                .attr('href', '/workflow/' + workflow.id + '/delete/')
                                                .tooltip({title: 'Remove'})
                                )
                        )
                )
            }
        }
    </script>

{% endblock %}