{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content-header %}
    {{ project.name }}
{% endblock %}

{% block content %}

    <div class="col-xs-12 col-sm-6">
        <div class="box ui-draggable ui-droppable">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-cog"></i>
                    <span>Settings</span>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
                    <input type="hidden" name="form"/>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"> Edit</button>
                        <a href="{% url 'delete_project' project.pk %}" class="btn btn-danger pull-right"> Delete</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="box ui-draggable ui-droppable">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-user"></i>
                    <span>Groups</span>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-hover" id="members-table">
                    <thead>
                    <tr>
                        <th class="col-xs-1">#</th>
                        <th>Name</th>
                        <th class="text-right col-xs-3">Action</th>
                    </tr>
                    </thead>
                    {% for role in form.instance.roles.all reversed %}
                        <tr>
                            <td class="col-lg-1">{{ forloop.counter }}</td>
                            <td class="col-lg-10"><a href="{% url 'update_role' role.pk %}">{{ role.name }}</a></td>
                            <td class="text-right col-lg-1"><a href="{% url 'delete_role' role.pk %}"
                                                      class="remove-button confirm-box label label-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form role_form layout='inline' %}

                    {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"> Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $('#id_workflow').on('click', 'ii',  function(e) {
            e.preventDefault();
            window.open($(this).attr('href'), "_blank", "height=600, width=960, top=100, left=100, status=no, toolbar=no, menubar=no, location=no, addressbar=no");
        });

        $('#id_workflow label').each(function() {
            $(this).parent().append(
                $('<span/>')
                    .addClass('pull-right')
                    .append(
                        $('<ii/>')
                                .addClass('editworkflow fa fa-edit')
                                .css('cursor', 'pointer')
                                .css('margin-right', '10px')
                                .attr('href', '/workflow/' + $(this).children('input').attr('value') + '/edit/')
                                .tooltip({title: 'Edit'})
                        )
                        .append(
                            $('<ii/>')
                                .addClass('deleteworkflow fa fa-times')
                                .css('cursor', 'pointer')
                                .attr('href', '/workflow/' + $(this).children('input').attr('value') + '/delete/')
                                .tooltip({title: 'Remove'})
                        )
                    )
        });

        function deleteWorkflow(id) {
            $('#id_workflow input[value=' + id + ']').closest('.radio').remove();
        }
    </script>
{% endblock %}