{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content-header %}
    {{ project.name }}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-6">
        <div class="box ui-draggable ui-droppable">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-cog"></i>
                    <span>Settings</span>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
                    <input type="hidden" name="form" />
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"> Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="box ui-draggable ui-droppable">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-user"></i>
                    <span>Groups</span>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-hover" id="members-table">
                    <thead>
                        <tr>
                            <th class="col-xs-1">#</th>
                            <th>Name</th>
                            <th class="text-right col-xs-3">Action</th>
                        </tr>
                    </thead>
                        {% for role in form.instance.roles.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'update_role' role.pk %}">{{ role.name }}</a></td>
                                <td class="text-right"><a href="{% url 'delete_role' role.pk %}" class="remove-button confirm-box label label-danger">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form role_form layout='inline' %}

                    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"> Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}