{% extends 'workflow/base.html' %}

{% load i18n %}

{% block title %}{{ workflow.name }}{% endblock %}

{% block box-name %}
    <i class="fa fa-cog"></i>
    <span>Create new workflow</span>
{% endblock %}

{% block box-content %}
    <form method="post">
        {% csrf_token %}

        {% for field in form %}

            {{ field }}

        {% endfor %}

        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
        <div class="text-center">
            <button type="submit" class="btn btn-primary"> Create</button>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            $("form").submit(function() {
                window.opener.addWorkflow({id: 1, value: 'Default'});
{#                var that = this;#}
{#                $.ajax({#}
{#                   type: "POST",#}
{#                   url: '.',#}
{#                   data: that.serialize(), // serializes the form's elements.#}
{#                   success: function(data) {#}
{#                       window.close();#}
{#                   }#}
{#                });#}

                return false; // avoid to execute the actual submit of the form.
            });
        });
    </script>
{% endblock %}