{% extends 'workflow/base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block content-header %}
    {% trans "Delete workflow" %}
{% endblock %}

{% block box-name %}
    <i class="fa fa-cog"></i>
    <span>{% trans "Delete" %} {{ object.name }}</span>
{% endblock %}

{% block box-content %}
    <form method="post">
        {% csrf_token %}
        <p>{% blocktrans with object_t=object %}Are you sure you want to delete "{{ object_t }}"?{% endblocktrans %}</p>

        {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
        <div class="text-center">
            <button type="submit" class="btn btn-danger"> {% trans "Delete" %}</button>
            <a onclick="window.close()" class="btn btn-primary"> {% trans "Cancel" %}</a>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $("form").submit(function (event) {
                event.preventDefault();

                var that = this;
                $.ajax({
                    type: "POST",
                    url: '.',
                    data: $(that).serialize(), // serializes the form's elements.
                    success: function (data) {
                        window.opener.deleteWorkflow({{ object.id }});
                        window.close();
                    },
                    error: function (data) {
                        window.opener.deleteWorkflow({{ object.id }});
                        window.close();
                    }
                });

                return false; // avoid to execute the actual submit of the form.
            });
        });
    </script>
{% endblock %}
