{% extends 'base.html' %}
{% load bootstrap3 %}
{% load thumbnail %}
{% load attachments_tags %}
{% load staticfiles %}
{% block content-header %}
    Issue
{% endblock %}

{% block css %}
    <link href="{% static 'css/jquery.fileupload.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h3 class="page-header">
        {{ issue.title }}
        <a href="{% url 'edit_issue' issue.object_id issue.pk %}" class="pull-right">Edit</a>
    </h3>
    <div class="well">
        <div class="row">
            <div class="col-xs-4">Priority<b class="label label-danger pull-right">{{ issue.get_priority_display }}</b></div>
            <div class="col-xs-4 col-xs-offset-4">Created<b class="pull-right">{{ issue.created }}</b></div>
        </div>
        <div class="row">
            <div class="col-xs-4">Submitter<b class="pull-right">{{ issue.submitter }}</b></div>
            <div class="col-xs-4 col-xs-offset-4">Modified<b class="pull-right">{{ issue.modified }}</b></div>
        </div>
        <div class="row">
            <div class="col-xs-4">Assigned to<b class="pull-right">{{ issue.assigned_to }}</b></div>
        </div>
        <div  style="margin-top:15px;">
            <p class="page-header"></p>
            <p>{{ issue.description }}</p>
        </div>
        <div style="margin-top:15px;">
            <p class="page-header"></p>
            {% get_attachments_for issue %}
            <div id="files">
            {% for attachment in attachments %}
                {% if attachment.is_image %}
                    {% thumbnail attachment.attachment_file "100x100" as im %}
                        <a href="{{ attachment.attachment_file.url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                    {% endthumbnail %}
                {% else %}
                    <a href="{{ attachment.attachment_file.url }}">{{ attachment.filename }}</a>
                {% endif %}
            {% endfor %}
            </div>
            <p>
            {% attachment_form issue %}
            </p>
        </div>
    </div>
    <div style="margin-top:15px;">
        <h4 class="page-header">Comments</h4>

    </div>

{% endblock %}

{% block javascript %}
<script>
    $(function () {
        $('#fileupload').fileupload({
            dataType: 'json',
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('<p/>').text(file.name).appendTo(document.body);
                });
            }
        });
    });
</script>
{% endblock %}