{% extends 'base.html' %}
{% load bootstrap3 %}
{% load thumbnail %}
{% load attachments_tags %}
{% load comments_tags %}
{% load issues_tags %}
{% load staticfiles %}
{% load i18n %}

{% block content-header %}
    {% trans "Issue" %}
{% endblock %}

{% block content %}
    <h3 class="page-header">
        {{ issue.title }} [{{ issue.slug }}]
        {% if issue.submitter == user or user in issue.content_object.members.user_set.all %}
            <a href="{% url 'edit_issue' issue.object_id issue.slug %}" class="pull-right">{% trans "Edit" %}</a>
        {% endif %}
    </h3>
    <div class="well issue">
        <div class="row">
            <div class="col-xs-4">{% trans "Priority" %}<b
                    class="label label-{{ issue.priority|priority_to_bootstrap }} pull-right">{{ issue.get_priority_display }}</b>
            </div>
            <div class="col-xs-4 col-xs-offset-4">{% trans "Created" %}<b class="pull-right">{{ issue.created }}</b></div>
        </div>
        <div class="row">
            <div class="col-xs-4">{% trans "Status" %}<b class="pull-right">{{ issue.status }}</b></div>
            <div class="col-xs-4 col-xs-offset-4">{% trans "Modified" %}<b class="pull-right">{{ issue.modified }}</b></div>
        </div>
        <div class="row">
            <div class="col-xs-4">{% trans "Submitter" %}<b class="pull-right">{{ issue.submitter }}</b></div>
        </div>
        <div class="row">
            <div class="col-xs-4">{% trans "Assigned to" %}<b class="pull-right">{{ issue.assigned_to }}</b></div>
            <div class="col-xs-4 col-xs-offset-4">{% trans "Confidential" %}<b class="pull-right">{{ issue.confidential }}</b></div>
        </div>

        <div class="description">
            <p class="page-header"></p>
            <p>{{ issue.description|urlify:issue.pk }}</p>
        </div>
        <div>
            <p class="page-header"></p>
            {% get_attachments_for issue %}
            <div id="files">
                {% for attachment in attachments %}
                    {% if attachment.is_image %}
                        {% thumbnail attachment.attachment_file "100x100" as im %}
                            <a class="fancybox" href="{{ attachment.attachment_file.url }}"><img src="{{ im.url }}"
                                                                                                 width="{{ im.width }}"
                                                                                                 height="{{ im.height }}"></a>
                        {% endthumbnail %}
                    {% else %}
                        <a href="{{ attachment.attachment_file.url }}">{{ attachment.filename }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if issue.changes %}
        <div style="margin-top:15px;" class="accordion-collapse">
            <a data-toggle="collapse" href="#changes" class="accordion-toggle collapsed"><h4 class="page-header">
                {% trans "Changes" %}</h4></a>

            <div id="changes" class="panel-collapse collapse">
                {% for change in issue.changes.all %}
                    <a href="{% url 'userena_profile_detail' change.user.username %}">{{ change.user }}</a> on {{ change.date|date:"SHORT_DATETIME_FORMAT" }}
                    {% for detail in change.details.all %}
                        <p>{{ detail.field }} {{ detail.old_value }} <i
                                class="fa fa-arrow-circle-right"></i> {{ detail.new_value }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div style="margin-top:15px;" class="accordion-collapse">
        <a data-toggle="collapse" href="#comments" class="accordion-toggle collapsed"><h4 class="page-header">
            {% trans "Comments" %}</h4></a>

        <div id="comments" class="panel-collapse collapse">
            {% get_comments_for issue %}
            {% for comment in comments %}

                <div class="row one-list-message msg-one-item" style="display: block;">
                    <div class="box">
                        <div class="avatar" style="width:90px;">
                            <a href="{% url 'userena_profile_detail' comment.author.username %}"><img
                                    src="{{ comment.author.profile.get_mugshot_url }}" style="width: 80px; height: initial;"></a>
                        </div>
                        <div class="page-feed-content">
                            {% if comment.author == user or user in issue.content_object.managers %}
                                <a href="{% url 'comment-delete' comment.id %}" class="pull-right">{% trans "Delete" %}</a>
                            {% endif %}
                            <small class="time"><a
                                    href="{% url 'userena_profile_detail' comment.author.username %}">{{ comment.author }}</a>, {{ comment.created|date:_("DATETIME_FORMAT") }}
                            </small>
                            {% autoescape off %}
                            <p>{{ comment.content|urlize|urlify:issue.pk|linebreaksbr }}</p>
                            {% endautoescape %}
                        </div>
                    </div>
                </div>

            {% endfor %}

            <div class="box comment-form">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-cog"></i>
                        <span>
                            {% trans "Create new comment" %}
                        </span>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content">
                    <form method="post" id="comment_form">
                        {% csrf_token %}
                        {% bootstrap_form comment_form %}

                        {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $(".fancybox")
                    .attr('rel', 'gallery')
                    .fancybox({
                        'transitionIn': 'elastic',
                        'transitionOut': 'elastic',
                        'speedIn': 600,
                        'speedOut': 200,
                        'overlayShow': false
                    });
        });
    </script>
{% endblock %}