{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block content-header %}
    Issues
{% endblock %}

{% block content %}
    <form>
        <div class="row">
            <div class="col-xs-3">
                {% bootstrap_field object_list.form.title %}
            </div>
            <div class="col-xs-3">
                {% bootstrap_field object_list.form.submitter %}
            </div>
            <div class="col-xs-3">
                {% bootstrap_field object_list.form.assigned_to %}
            </div>
            <div class="col-xs-3">
                {% bootstrap_field object_list.form.created %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                {% bootstrap_field object_list.form.priority %}
            </div>
            <div class="col-xs-3">
                {% bootstrap_field object_list.form.status %}
            </div>
            <div class="col-xs-3">
                {% bootstrap_field object_list.form.confidential %}
            </div>
            <div class="col-xs-3 text-center" style="margin-top: 20px;">
                {% bootstrap_button 'Filter' 'submit' 'btn-primary' %}
            </div>
        </div>
    </form>
    {% render_table table %}
{% endblock %}