{% load staticfiles %}
{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content="description">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
		<link href='{% static 'css/fonts.css' %}' rel='stylesheet' type='text/css'>
        <link href="{% static 'css/bootstrapValidator.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
<body>
<div class="container-fluid">
	<div style="position: absolute; right:15px; top: 15px; z-index:500">
		{% for lang in LANGUAGES %}
			<a class="txt-default" href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;"><i class="fa{% if lang.0 == LANGUAGE_CODE %} fa-check{% endif %}"></i> {{ lang.1 }}</a>
			<form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">{% csrf_token %}
				<input name="next" type="hidden" value="/" />
				<input type="hidden" name="language" value="{{ lang.0 }}" />
			</form>
		{% endfor %}
	</div>
	<div id="page-login" class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            {% block header %}{% endblock %}
			<div class="box">
				<div class="box-content">
                    {% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrapValidator.min.js' %}"></script>
{% if LANGUAGE_CODE == 'pl' %}
	<script src="{% static 'js/language/pl_PL.js' %}"></script>
{% endif %}
<script>
    $(document).ready(function() {
        $('form').bootstrapValidator();
    });
</script>
</body>
</html>