{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content-header %}
    Account &raquo; {{ user.username }}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-envelope"></i>
                    <span>Change email address</span>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Change email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}