{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block content-header %}
    {% trans "Account" %} &raquo; {{ user.username }}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-user"></i>
                    <span>{% trans "Account" %} &raquo; {{ user.username }}</span>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
                        <a href="{% url 'userena_profile_detail' user.username %}" class="btn btn-primary">{% trans "Cancel" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}