{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}



{% block content %}
    <div class="col-sm-4 col-sm-offset-4 col-md-8 col-md-offset-2">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-user"></i>
                    <span>User profile</span>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <div class="card">
                    <div class="row">
                        <div class="profile-avatar col-xs-2">
                            <img class="img-rounded" src="{{ profile.get_mugshot_url }}"/>
                        </div>
                        <div class="col-xs-offset-2">
                            <h4 class="page-header">{{ profile.user.username }}</h4>
                            {% if profile.user.get_full_name %}<h5 class="page-header">{{ profile.user.get_full_name }}</h5>{% endif %}
                        </div>
                    </div>
                    <p>
                        <a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a>
                    </p>
                    {% if request.user != profile.user %}
                        <p>
                            <a href="{% url 'messages_compose_to' profile.user.username %}">Send message</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
